
p{
    font-size: 22px;
    color: #81389e;
    font-style: italic;
    line-height: 150%;
}

h1{
    font-size: 30px;
    color: rgb(29, 0, 75);
}

/* info */

.info {
    text-align: center;
    background-color: rgb(255, 243, 232);
    color: rgb(38, 0, 46);
    width: 70%;
    min-height: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
}

#infokuva{
    height: 400px;
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 20px;
    box-shadow: 0 0 10px rgb(29, 0, 75);
}

.somet{
    text-align: center;
    background-color: rgb(206, 255, 236);
    color: rgb(38, 0, 46);
    width: 70%;
    min-height: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 20px;
}

#some1, #some2 {
    width: 150px;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgb(29, 0, 75);
}

#some1:hover, #some2:hover {
    opacity: 0.6;
    transition: 0.4s;
}



